* {
    margin: 0%;
    padding: 0%;
}

body {
    background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 40px;
        color: #333333;
        text-transform: capitalize;
    }

    h3 {
        font-size: 35px;
        color: #333333;
        text-transform: capitalize;
    }

    h4 {
        text-transform: capitalize;
        color: #333333;
        font-size: 30px;
    }

    button {
        background: linear-gradient(to bottom, #415ba3, #7f96d6);
        border: 1px solid #0b183d;
        font-size: 20px;
        width: 180px;
        padding: 10px 30px;
        text-transform: uppercase;
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
    }
}